# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/CreationalPatterns/target/
/CreationalPatterns/AbstractFactory/target/
/CreationalPatterns/Builder/target/
/CreationalPatterns/FactoryMethod/target/
/CreationalPatterns/Prototype/target/
/CreationalPatterns/Singleton/target/
/StructuralPatterns/Adapter/target/
/StructuralPatterns/Bridge/target/
/StructuralPatterns/Composite/target/
/StructuralPatterns/Decorator/target/
/StructuralPatterns/Facade/target/
/StructuralPatterns/Flyweight/target/
/StructuralPatterns/Proxy/target/
/BehavioralPatterns/ChainOfResponsibility/target/
/BehavioralPatterns/Command/target/
/BehavioralPatterns/Interpreter/target/
/BehavioralPatterns/Iterator/target/
/BehavioralPatterns/Mediator/target/
/BehavioralPatterns/Memento/target/
/BehavioralPatterns/Observer/target/
/BehavioralPatterns/State/target/
/BehavioralPatterns/Strategy/target/